@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background:#333;
}
.container
{
    position:relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 80px;
}
.card
{
    position: relative;
    width: 350px;
    height: 180px;
    background: #333;
    transition:0.5s;
}
.card:hover
{
    height:180px
}
.card .lines
{
    position:absolute;
    inset:0;
    background: #000;
    overflow: hidden;
} 
.card .lines::before
{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:600px;
    height:120px;
    background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
} 
.card:hover .lines::before
{
    animation-play-state: running;
}
@keyframes animate
{
    0% 
    {
        transform: translate(-50%,-50%) rotate(0deg) ;     
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg) ;     
    }
}
.card .lines::after
{
    content:'';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details
{
    padding: 30px 20px;
    text-align: center;
    width:100%;
    transform: translateY(0px);
}
.card:hover .content .details
{
    transform:translateY(0px);

}